<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-flex justify-content-between">
    <div>
        <a class="navbar-brand" href="#"><h3>News Scraper</h3></a>
        <button class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-danger">Scrape</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <div class="main-bg"></div>
    <div class="main-strip bg-secondary">
        <h2>Get the latest news from 
            <em><strong>The New York Times</strong></em>, 
            <em><strong>The Times</strong></em> and 
            <em><strong>Wired</strong></em>
        </h2>
    </div>
</header>
